.flags {
  padding: 0;
}

.left {
  text-align: left;
}

.middle {
  text-align: center;
  color: white;
}

.right {
  text-align: right;
}

.geyerImage {
  background: url("GeyerExLibris1.jpg") no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-top: 27%; /* (img-height / img-width * container-width) */
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.geyerImage:hover {
  background: url("GeyerExLibris2.jpg") no-repeat;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-top: 27%; /* (img-height / img-width * container-width) */
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#titleCat {
  text-align: left;
}

#buttonsCat {
  text-align: right;
}

.headerdiv {
  background-color: rgba(68, 81, 90, 0.3);
  padding: 0;
  /* background: linear-gradient(to bottom, rgb(68,81,90), rgba(68,81,90, 0)); */
}

.header {
  background-image: linear-gradient(
    to top,
    rgb(159, 68, 62),
    rgb(253, 192, 47)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.headline {
  background-image: linear-gradient(
    to bottom right,
    rgb(167, 72, 61),
    rgb(253, 192, 47)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.blue {
  color: rgb(68, 81, 90);
}

.btn-blue {
  border: 1px solid rgb(68, 81, 90);
  background: none;
}

.btn-blue:hover {
  background-color: rgb(68, 81, 90);
  color: white;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: xx-large;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.iconModal {
  fill: grey;
}

.iconModal:hover {
  fill: orange;
  cursor: pointer;
}

.text {
  padding: 0;
  border-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.table {
  padding: 0;
  border-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: rgba(68, 81, 90, 0.2);
}

.footer {
  background: linear-gradient(to top, rgb(68, 81, 90), rgba(68, 81, 90, 0));
  padding: 0;
  text-align: center;
  color: white;
}

/******************/

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: rgb(240, 240, 240);
  padding: 30px;
  max-width: 500px;
  border-radius: 10px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
